

.bloc-comm{
    background: transparent;
}

.comm-body{
    background: white;
}

.comm-serv-list{
    border-right: 1px solid #273254;
    border-bottom: 1px solid #273254;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px 15px 0px 15px;
    color: black;
    margin-top: 15px;
    margin-right: 20px;

}

.comm-serv-list>.icon{
    font-size: 25px;
    background: #bd9119;
    border-radius: 22px;
    padding: 10px;
}

.comm-serv-list>a{
    color: #273254;
    font-weight: 100;
}



.comm-serv-list:hover, .comm-serv-list:hover> a{
    background: #ffba00;
    border-bottom: 1px solid black;
    color: white;
    font-weight: bold;
}

.tarif-space{
    background: #ebeff2;
}

.tab-service > li.active > a{
    background: #ffba00 !important;
    border-radius: 32px 0px 0px 0px;
    border: 1px solid #8c712c !important;
}

.tab-service>li>a{
    font-size: 12px;
}

.form-bloc{
    margin-bottom: 15px;
}

.bloc-commande{
    height: 500px;
    overflow: scroll;
}

.page{
    margin-bottom: 60px;
}


//Chekbox custom


label.btn span {
    font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #ffba00;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #ffba00;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #ffba00;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #ffba00;
}



div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #ffba00;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.monnaie{
    font-size: 16px;
    margin-top: 0px;
    background: #273254;
    padding-left: 0px;
}

.affduree{
    color: #273254;
    padding: 3px;
    margin-top: 2px;
}

.divRecherche{
    color: white; 
    background: #273254;
    margin-bottom: 5%; 
    padding: 20px; 
    border-radius: 0px 40px 0px 40px;
}

.div-valid{
    margin-bottom: 20px;
    border-right: 1px solid #273254;
    border-bottom: 1px solid #273254;
    border-radius: 10px 10px 0px 10px;
    text-align: left;
}

.validBtn{
    background: #f5b304;
    color: white;
    font-weight: bold;
}

.div-valid>b{
    color: #8c712c;
    margin-bottom: 10px;
}

.fastform{
    margin-top: 10px;
}


.alertHoraire{
    color: #FF6600; 
    background: #13192a
}

.messHoraire{
    font-size: 18px;
}

.messGrand{
    font-size: 20px;
}

.validMonnaie{
    font-size: 20px; 
    color: yellow;
    background: #1d2c42;
}