section#intro-header {

    background-image:url("french-online-course.jpg");
    background-size: cover;
}
section#intro-header .wrap-headline {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
h2 a {
    color: rgb(50, 100, 146);

}
section#intro-header h1,
section#intro-header h2 {
    color: rgb(3, 0, 0);
    font-weight: 600;
}

section#intro-header h2 {
    font-size: 2rem;
}
section#intro-header h1 i{
    color:#f96;
}
section#intro-header hr {
    width: 10%;
}
section#intro-header .btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

nav img {

    width: 50%;

}
h3 {
    color: #FFF;
}
#img {
    width:5%;
}
div.navbar-header{

    margin-bottom: 15px;
}

footer {
    background-color:#FFF;
    color: #ADADAD;

}
footer h5,
footer img {
       font-weight: bold;

}
footer address {

    color: #09F;
    font-weight: bold;
}
footer ul {
    margin-bottom: 2em;
}
footer address strong {
    color: #09F;
    display: block;
    padding-bottom: 0.62em;
    font-weight: bold;
}
footer a {
    font-weight: bold;
    color: #09F;
}
footer a:hover {
    text-decoration: none;
    color: #f96;
    font-weight: bold;
}

.hidden-element {
    display: none;
}

#nav-menu {
    margin-right: 1rem;
    }
nav .btn-group {
    margin: 0.8rem 2rem 0 0;
}
nav .form-control {
    margin: 0.8rem 2rem 0 0;
}
@media(max-width: 48em){
    nav .btn-group {
        position: absolute;
        top: 0;
        right: 4em;
    }
}

