.image {
    background-image: url("bg1.png");
    background-size: cover;
  }
.header-area.stick{
background-color: transparent;
}
.wrap-headline {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}