@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px;
}
.carousel-control.left,
.carousel-control.right{
    background-image: unset;
    background-repeat: repeat-x;
}
.entete-perso{
	font-family: 'Raleway';
    font-size: 33px;
    color: #00669c;
    font-weight: 900;
    margin-bottom: 25px;
    line-height: 1;
    margin-top: 50px;

}

li.active a{
  background: #00669c !important;
  color: white !important;
}
.tab-content .tab-pane.active{
    background-color: #FFF;


}

#account-tabs li {
     border-radius: 2px 2px 0 0 !important;
     margin-bottom: 0 !important;
     font: normal 12px Raleway !important;
 }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    display: none;
}

#account-tabs li a{
    background: #FFF!important;
    color: #000 !important;
    font: bold 12px Raleway !important;
}

#account-tabs li.active{
    border-bottom: none;

}
#account-tabs li.active a{
      background-color: #00AAE7 !important;
}

.responsive {
  width: 70%;
  height: auto;
}


p, blockquote{
	text-align: justify;
	font-family: 'Raleway', sans-serif !important;
}

.sous-titre{
	font-size: 20px;
    text-align: left;
    color: #ee8324;
    font-weight: 900;
}

.sous-titre0 {
	font-size: 20px;
    text-align: left;
    color: #333;
    font-weight: 900;
    border-left: solid #00AAE7;
    padding-left:5px;

}

.sous-titre0 i{
	font-size: 40px;
    color: #00AAE7;

}

.sous-titre2{
	font-size: 20px;
    text-align: left;
    color: #FFF;
    font-weight: 900;
}

.sous-titre > p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.titre{
    text-transform: initial;
    color: #c34718;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.3;
}

.video{
	width: 100%;
	height: 60%;
}

.titre-attout{
    background: #00669c;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.ul-perso li{
	font-size: 17px;
}

.titre-attout-2{
    background: #00669ceb;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}



.number{
	font-size: 50px;
    position: absolute;
    margin-top: -20px;
    margin-left: -32px;
    color: darkorange;
    background: #00669c;
    padding: 2px;
}

button.mon-bouton {
    background: #ee8222;
    color: white;
    font-weight: 900;
    border: #ee8222;
    padding: 10px;
    width: 80%;
    position: absolute;
    bottom: -8px;
    margin-left: -40%;
}

.presentation_palier .content{
    min-height: 600px;
}

.presentation_palier .content p span span, .presentation_palier .content p{
    font-family: 'Raleway', sans-serif !important;
}

.presentation_palier .coach{
    background: #00669c;
    color: white !important;
    margin-top: 0px;
}

.coach-2{
    background: linear-gradient(45deg, #00669c, #ee8222);
    color: white;
    padding: 10px;
}

.elt-rub {
    margin-left: 10px;
    color: #000;

}

.step-ubuntu>div{
	margin-bottom: 50px;
}

#dropdown-menu{
	padding: 10px;
    background: #286090;
    margin-top: 2px;
    border: none;
    border-radius: 0px;
    color: white;
}

#dropdown-menu li a{
	color: white;
    background: #ee8222;
}



.carousel-caption p{
	font-size: 22px;
	text-align: center;
}

.text-center.certif {
    border:solid 1px #434eff;
    padding: 10px;
    margin-bottom: 20px;
}

a#temps {
    font-size: 18px;
    font-weight: bold;
}
a#temps2 {
    font-size: 15px;
    background-color: #ee8b5dbf;
}

#temps-2{
    font-size: 17px;
    font-weight: bold;
}

.menu li a{
    color: black !important;
    font-weight: 900;
}

.menu li.active a{
    background: #00669c !important;
    color: white !important;
}


.coach-type{
    font-size: 27px !important;
    text-transform: initial;
}

.col-md-12.prix {
    padding: 10px;
    background: orange;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.pay{
    height: 100px;
    margin-bottom: 100px;
}

.legende{
    width: auto !important;
    box-shadow: 2px 0px 10px 0px #00000036;
    padding-right: 10px;
}

.numerotation img{
    width: 87px;
    float: left;
}
.numerotation b{
    float: left;
    font-size: 90px;
    background-color: #337ab7;
    color: #FFF;
    padding: 0px 8px 0px 17px;
    border-radius: 39px;
    margin: 10px;
    font-family: auto;
}
.langue{
    color: #039;
    font: bold 17px roboto;
}

.slider .carousel-caption{
    top:unset;
}
.type-etudiant{
    border: 2px solid #00669c;
    padding: 10px;
    margin-bottom: 40px;
}


.photo-type{
    height: 90px;
}

.legende h2{
    color: #00669c;
    font-weight: bold;
    font-size: 25px;
}

.lien{
    color: #cd7813;
    font-weight: bold;
    font-size: 19px;

}
.lien2{
    color: #cd7813;
    font-weight: bold;
    font-size: 30px;
    border: solid 1px;
    padding: 10px;
}

.prix-bas{
    text-transform: initial;
    margin-top: -20px;
}

.affiche{
    padding: 10px;
    box-shadow: 0px 11px 14px 3px #00669973;
    border-radius: 10px;
    font-size: 186%;
    font-family: lobster;
    color: #ee8222;
    font-weight: 100;
}
.titre-attout-3{
    text-align: center;
    line-height: 1.4;
    font-size: 16px;
}

.lien-2{
    color: black
}

img.pince{
    height: 50px;
    position: absolute;
    margin-top: -75px;
    margin-left: 211px;
}

.mt_10{
    margin-top: 10px;
}

.lien-niveau{
    background: #00669c;
}

.lien-niveau a{
    color: white;
}

/*Slides*/

* {box-sizing: border-box}

.mySlides {display: none}
.mySlides .carousel-caption{
    top: -283px;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    top:-60px;
    position: relative;
    margin: auto;
    background-image: url("../images/banertrois.png");
    background-size:cover ;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.left carousel-control,
.right carousel-control{
    background-image: unset;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#logowhatsapp{
     position: fixed;
     bottom: 26px;
     right: -12px;
     z-index: 11;
     width: 100px;
 }

.enhaut{
    left: -60px;
}
.uneligne{
    left: -60px;
    width: 116%;
}
.petit{
    width: 305px;
    position: relative;
    left: -82px;
}
.petit-bouton{
    position: relative;
    top: -190px;
    left: 177px;
}
#boutons-list{
    text-align: right;
    position: relative;
    left: -199px;
}

#logowhatsapp p {
    float: left;
    width: 100%;
    background: #30b944;
    padding: 13px;
    border-radius: 10px;
    color: #FFF;
    font: bold 100% roboto;
}

#essai-gratuit{

    position: absolute;
    top: -71px;
    right: -92px

}


#logowhatsapp:hover p{
    display: block;
}

#logowhatsapp img{
    width: 58px;
    height: 59px;
}
ul.menu li .sous-menu{
    display: none;
}

li .sous-menu li,
li.active .sous-menu li{
    margin-bottom: 21px;
    margin-top: 9px;
    width: 312px;
}

li .sous-menu li a,
li.active .sous-menu li a{
    background: #e2eef5 !important;
    color: #00669c !important;
    padding: 10px;
    border-bottom: solid 2px #00669c;
}

li .sous-menu li a:hover,
li.active .sous-menu li a:hover{
    background: #00669c  !important;
    color: white !important;


}


@media screen and (min-width: 1050px) {

    .slideshow-container {

        height: 300px;

    }
    ul.menu li{
        font-size: 15px;
    }
    .entete-perso{
        margin-top: 45px;

    }

}
@media screen and (max-width: 1024px) {

    .slideshow-container {

        height: 230px;

    }
    ul.menu li{
        font-size: 15px;
    }

}
@media screen and (max-width: 800px){
    .entete-perso{
        margin-top: 50px;

    }
    #account-tabs li {
        border-radius: 2px 2px 0 0 !important;
        margin-bottom: 0 !important;
        font: normal 12px Raleway !important;
        width: 25%;
    }
    .menu li a{
        font-size: 15px;
    }
    #slogan {
        top: -21px;
        left: 24%;
        font-size: 30px;
    }
    #logo {
        width: 122px;
        margin: 10px;
        top: -32px;
        left: 33px;
    }
    .tab-pane.active{
        background-color: #FFF;

    }
    .tab-pane.active img,
    .tab-pane.active i
    {
        background-color: #FFF;
        border-radius: 4px;
        width: 24%;
        float: left;
    }

    .tab-pane.active img>h3{
        background-color: #FFF;
        border-radius: 4px;
        width: 74%;
        float: right;
        margin-top: 0;
    }

    .tab-content.active{
        position: relative;
        width: 74%;
        left: 25%;
        top: -289px;
    }
    .text {
        position: unset;
        bottom: unset;
    }
  .responsive {
        width: 100%;
        height: auto;
    }
   .slideshow-container {
        top: -15px;
       height: 224px;
       background-image: url(../images/a1-phone.png);
       background-size: cover;
    }
    .mySlides .carousel-caption{
        top: 0px;
    }



}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
    a#temps2 {
        left: 40px;
        position: relative;
    }
    .slideshow-container {

        height: 224px;

    }
}
@media only screen and (max-width: 400px) {
  .prev, .next,.text {font-size: 11px}
    a#temps2 {
                                          left: 40px;
                                          position: relative;
                                      }
    .slideshow-container {

        height: 196px;

    }

}

* {box-sizing:border-box}

