<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}French Online{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        
        <!-- Favicons -->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('Logofrenchonline.png') }}"  rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ asset('assets/onepage/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ asset('assets/onepage/lib/nivo-slider/css/nivo-slider.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/owlcarousel/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/flaticon/font/flaticon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/slick/slick-theme.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/slick/slick.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/lib/lightbox/lightbox.min.css') }}" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.assimil.com/themes/assimil/cache/v_152_bc07304cba45acdaced12d0c46a48e19_all.css" type="text/css" media="all" />
    
    

    


    <!-- Nivo Slider Theme -->
    <link href="{{ asset('assets/onepage/css/nivo-slider-theme.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ asset('assets/onepage/css/ub.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/css/style1.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/css/style2.css') }}" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="{{ asset('assets/onepage/css/resp.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/onepage/css/main.css') }}" rel="stylesheet">
    </head>
    <body>
    {% block header %}
    <!-- Messenger Plugin de discussion Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de discussion code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "108072514923912");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="logowhatsapp">
        <a href="https://web.whatsapp.com/send?phone=237676054539"><img src="{{ asset('assets/onepage/images/index3.png') }}" ></a>
    </div>

          <div id="top-bar-ubuntu" class="top-bar-ubuntu row">
            <div class="header-social col-md-3 col-xs-6">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-md-6 col-xs-12 text-center slogan-ubuntu"><span class="intro">Mieux que dans une salle de classe !</span></div>
            <div class="dropdown col-md-3 pull-right col-xs-6">
                <a href="#" id="nav-link-ubuntu" class="nav-link dropdown-toggle" data-toggle="dropdown">Se connecter</a>
                <div class="dropdown-menu dropdown-menu-ubuntu">
                    <a href="" class="dropdown-item">Vous êtes Nouveau ? <span>S'inscrire</span></a>
                    <a href="" class="dropdown-item">Déjà inscrit ? <span>Allez à l'espace apprenant</span></a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-12 col-xs-12">
                            <div class="logo">
                                <a href="{{path('homepage')}}">
                                    <img id="logo" src="{{asset('assets/onepage/images/Logofrenchonline.png')}}">
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-7 col-xs-12 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Apprennez selon</h3>
                                            <p>Votre propre timing</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <img style="margin-top: 10px" height="40" src="{{asset('assets/onepage/images/index8.png')}}">
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Faites des essais</h3>
                                            <p>Vocaux pendant l'apprentissage</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>(+237) 676-054-539</h3>
                                            <p>contact@anglaisenligne.cm</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->
   
    <!-- header-area start -->
    <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a class="navbar-brand" style="padding: 10px; background-color: #e46c0a; color: #ffffff;"
                           data-toggle="modal" data-target=".bs-example-modal-lg" href="#">
                                Calculate my training time
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="{{path('homepage')}}" class="nav-item nav-link accueil active">About Us</a>
                                <a href="{{path('language')}}" class="nav-item nav-link niv-lang">Our Language Levels</a>
                                <a href="{{path('for')}}" class="nav-item nav-link pour_qui">For Whom ?</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle method" data-toggle="dropdown">Our method</a>
                                    <div class="dropdown-menu">
                                        <a href="{{path('method')}}" class="dropdown-item">Targeting the difficulties of anglophones</a>
                                        <a href="{{path('quality')}}" class="dropdown-item">Ensuring quality and transparency</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle inscrire" data-toggle="dropdown">How does it work ?</a>
                                    <div class="dropdown-menu">
                                        <a href="" class="dropdown-item">How to register?</a>
                                        <a target="_blank" href="{{ asset('files/pdf/screencapture-anglaisenligne-cm-comprendre-la-plateforme-2021-06-07-08_48_40.pdf') }}" class="dropdown-item">Understanding the course platform</a>
                                    </div>
                                </div>
                                <a href="{{path('price')}}" class="nav-item nav-link nos_prix">Our prices</a>
                                <a href="" class="nav-item nav-link" style="padding: 10px; background-color: #e46c0a; color: #ffffff;">Login</a>
                                <a href="#" class="nav-item nav-link" style="padding: 10px; background-color: #23881b; color: #ffffff; margin-left: 20px;">Free test</a>
                                <div class="nav-item dropdown lien-cache" style="margin-left: 20px; display:none">
                                    <a href="#" id="" class="nav-link dropdown-toggle btn btn-ubuntu" data-toggle="dropdown">Login</a>
                                    <div class="dropdown-menu dropdown-menu-ubuntu">
                                        <a href="#" class="dropdown-item">Are you New? <span>Sign up</span></a>
                                        <a href="#" class="dropdown-item">Already registered? <span>Go to the learner area</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">CALCULATE MY TRAINING TIME</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->
    <!-- header-area end -->
</header>    
{% endblock %}

{% block body %}
 <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img style="width: 100%;" src="{{ asset('assets/onepage/images/french-online-course3.jpg') }}" alt="" title="#slider-direction-1" />
            <img style="width: 100%;" src="{{ asset('assets/onepage/images/french-online-course2.jpg') }}" alt="" title="#slider-direction-2" />
            <img style="width: 100%;" src="{{ asset('assets/onepage/images/bg2.jpg') }}" alt="" title="#slider-direction-3" />
        </div>
        <!-- direction 1 -->
                <div id="slider-direction-1" class="slider-direction slider-one">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content">
                                     <!-- layer 1 -->
                                    <div class="layer-1-1 wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                                        <h2 class="title1" style="  text-decoration: none; color:#FFF;">Learn to speak French everyday with confidence...</h2>
                                    </div>    
                                        <!-- layer 2 -->
                                    <a class="btn btn-success btn-lg" href="">JOIN THE CLASS</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <!-- direction 22 -->
                <div id="slider-direction-2" class="slider-direction slider-two">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content">
                                     <!-- layer 1 -->
                                    <div class="layer-1-1 wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                                        <h2 class="title1" style="  text-decoration: none; color:#FFF;">Learn to speak French everyday with confidence...</h2>
                                    </div>    
                                        <!-- layer 2 -->
                                    <a class="btn btn-success btn-lg" href="">JOIN THE CLASS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- direction 3 -->
                <div id="slider-direction-3" class="slider-direction slider-three">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content">
                                     <!-- layer 1 -->
                                    <div class="layer-1-1 wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                                        <h2 class="title1" style="  text-decoration: none; color:#FFF;">The best way to learn French online</h2>
                                    </div>    
                                        <!-- layer 2 -->
                                    
                                    <a class="btn btn-success btn-lg" href="">JOIN THE CLASS</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
          <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12" style="padding-top: 1%;">
                            <a href="#" target="_blank" class="tizblocknews__item news"> 
                                    <div class="overlay-gradient">
                                        <div class="overlay-gradient__content">
                                            The frenchonline.cm method offers an integrated approach with an emphasis on speaking (70%), grammar and writing (30%).
                                            <div class="readmore feature-text">Read more</div>
                                        </div>
                                    </div>

                              <div class="tizblocknews__img" style="background-image: url(https://static.studyusa.com/article/cdn_8uCwoEyPy1GF4GrsqtZ1VEpktxOiMToU.jpg);"></div>
                                    <div class="tizblocknews__content wrapper-content">
                                        <h3 class="tizblocknews__title">70% oral and 30% written</h3>
                                    </div>
                                </a>
                        </div>
                        <div class="col-lg-4 bloc-ubuntu col-md-12" style="padding-top: 1%;">
                            <a href="#" target="_blank" class="tizblocknews__item news"> 
                                    <div class="overlay-gradient">
                                        <div class="overlay-gradient__content">
                                            The Frenchonline.cm platform is adapted to the needs of French speakers from various backgrounds. Whether you are a worker, student or pupil..
                                            <div class="readmore feature-text">Read more</div>
                                        </div>
                                    </div>

                              <div class="tizblocknews__img" style="background-image: url(https://static.studyusa.com/article/cdn_8uCwoEyPy1GF4GrsqtZ1VEpktxOiMToU.jpg);"></div>
                                    <div class="tizblocknews__content wrapper-content">
                                        <h3 class="tizblocknews__title">Platform for whom?</h3>
                                    </div>
                                </a>
                        </div>
                        <div class="col-lg-4 col-md-12" style="padding-top: 1%;">
                            <a href="#" target="_blank" class="tizblocknews__item news"> 
                                    <div class="overlay-gradient">
                                        <div class="overlay-gradient__content">
                                            The Frenchonline.cm method solves the three main difficulties of French speakers and facilitates the learning of the English language.
                                            <div class="readmore feature-text">Read more</div>
                                        </div>
                                    </div>

                              <div class="tizblocknews__img" style="background-image: url(https://static.studyusa.com/article/cdn_8uCwoEyPy1GF4GrsqtZ1VEpktxOiMToU.jpg);"></div>
                                    <div class="tizblocknews__content wrapper-content">
                                        <h3 class="tizblocknews__title">4 times more efficient</h3>
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{{ asset('assets/onepage/images/index1.png') }}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>Welcome to the N°1 platform of online French courses</p>
                                <h2 style="font-size: 35px;">Adjust your pronunciation!</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    On the best online French course platform for English speakers <strong><a href="#">www.frenchonline.cm</a></strong>, speak French 4 times faster. You have the follow-up of a teacher who gives you feedback on your different assignments... <a class="link-ubuntu" href="">Read more</a>
                                </p>
                                <hr style="border:1px solid black; width: 50%">
                                <p>
                                    Several language levels are available on the frenchonline.cm platform. Learners are free to start with the language level they want. Although we strongly encourage all English speakers to first do the A0 level which was created to give the right foundation... <a class="link-ubuntu" href="">Read more</a>  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <div class="intro-text text-center">
                <p class="wow fadeInRight">You are on the best platform to learn French online according to international standards and the needs of English speakers.</p>
                <div class="section-header text-center" style="margin-bottom:20px">
                    <h2 class="annonce-ubuntu wow fadeInDown">All aspects of the language in one course.</h2>
                </div>
                <div class="service-text" style="margin-bottom:20px">
                    <span class="label-langue wow  fadeInLeft">Grammar</span>
                    <span class="label-langue wow  fadeInRight">Culture and Civilization</span>
                    <span class="label-langue wow  fadeInUp">Written Expression</span>
                    <span class="label-langue wow  fadeInDown">Text comprehension</span>
                    <span class="label-langue wow  fadeInLeft">Vocabulary</span>
                    <span class="label-langue wow  fadeInLeft">Oral expression</span>
                </div>
                <a class="btn btn-test" href="">Try it for free!</a>
            </div>
        <!-- Testimonial Start -->
            <div class="testimonial wow fadeInDown" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider-nav">
                                <div class="slider-nav"><img src="{{ asset('assets/onepage/images/index4.png') }}"  alt="Testimonial"></div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider">
                                <div class="slider-item">
                                    <h3>Julie ONANA</h3>
                                    <h4>Batouri, Sept 2020</h4>
                                    <p>In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam id dolor. Class aptent taciti sociosqu ad litora.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>Frequently asked questions</h2><br>
                        <p>You are probably wondering</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            Who is <strong>frenchonline.cm</strong> for?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            For English speakers wishing to speak French.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                            What language levels are available?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ul>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            What are the training prices on frenchonline.cm?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ul>
                                                
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                            What is the quality assurance of the platform?
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            With our platform you will have the opportunity to learn four areas of knowledge such as, grammar, vocabulary, oral expression and culture and civilization. These different aspects will allow you to speak French fluently.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="accordion-2">
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                            Can we get a crash course?
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Our platform gives each learner the opportunity to choose his or her learning pace. If the learner wishes to have an accelerated training, our team will put in place all the arrangements to allow you to continue your training.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                            Is the level test mandatory?
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            The level test is not compulsory, the learner registers directly for the level he/she wishes to continue his/her training.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseHeight">
                                            Do you offer French courses in all countries?
                                        </a>
                                    </div>
                                    <div id="collapseHeight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Our platform offers online French courses in all countries and an accredited diploma is issued to each learner at the end of the course.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                            Can I take an exam with your training?
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEleven">
                                            Calculate my training time?
                                        </a>
                                    </div>
                                    <div id="collapseEleven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- FAQs End -->
                            <!-- Footer Start -->

{% endblock %}

  {% block footer %}
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Our method</h2>
                                <img style="max-width:220px" class="img-responsive" src="{{ asset('assets/onepage/images/index7.png') }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Academic Service</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Yaounde, Cameroon</p>
                                <p><i class="fa fa-map-marker-alt"></i>Akwa Center - Douala</p>
                                <p><i class="fa fa-phone-alt"></i><a style="color:white" href="tel:+237676-054-539">(+237) 676-054-539</a></p>
                                <p><i class="fa fa-envelope"></i><a style="color:white" href="mailto:">contact@frenchonline.cm</a></p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful links</h2>
                                <a href="{{path('contact')}}">Contact us </a>
                                <a href="{{path('partners')}}">Our partners</a>
                                <a href="{{path('galerie')}}">The platform in pictures</a>
                                <a href="/">Sign up </a>
                                <a href="/">How does it work? </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">
                                <h2>Newsletter</h2>
                                <p>
                                    Subscribe to be informed of news and new offers on our platform
                                </p>
                                <div class="form">
                                    <input class="form-control" placeholder="Votre email">
                                    <button class="btn">I subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Terms of use</a>
                        <a href="">Policies and procedures</a>
                        <a href="">Personal data management</a>
                        <a href="">Legal information</a>
                        <a href="">FAQs</a>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Frenchonline.cm</a>, All rights reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Developed by <a href="https://scribo.cm">SCRIBO-DEV Team</a></p>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-5 hidden-xs">
                        <center>
                             <img style="height: 150px;" class="img-responsive" src="/diplome/timing.jpg">
                        </center>
                    </div>
                    <div class="col-md-7">
                        <h3 class="text-center titre-attout" style="margin-top: 31px;background: #00334e;color: white;padding: 20px;">Connaitre mon temps de formation en fonction de mon emploi de temps !</h3>
                    </div>
                </div>
                <div class="text-center col-md-12">
                    <div class="row">
                        <div class="col-md-5 text-right label-choix">
                            If I log in
                        </div>
                        <div class="col-md-7">
                            <select id="heure_user" class="form-control" onchange="temps()">
                                <option value="2">Select a frequency </option>
                                <option value="2">2 hours/week</option>
                                <option value="4">4 hours/week</option>
                                <option value="6">6 hours/week</option>
                                <option value="8">8 hours/week</option>
                                <option value="10">10 hours/week</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 row" style="margin-top:10px">
                        <div class="col-md-5 text-right label-choix">
                            I finish a
                        </div>
                        <div class="col-md-5">
                            <select id="stage_user" class="form-control" onchange="temps()">
                                <option value="2">Select a package</option>
                                <option value="3">mini module in</option>
                                <option value="28">Level in</option>
                                <option value="84">Bearing in</option>
                                <option value="252">The entire program in</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center col-md-12" style="margin-bottom: 20px;margin-top:10px">
                        <span class="time">Timing = <b id="temps_connexion" ></b></span>
                    </div>
                </div>
                <div class="col-md-12" style="">
                    <button style="    background: #F44336;padding: 9px;opacity: 1;color: white;" type="button" class="close pull-right btn lire-plus" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
          </div>
        </div>
                <!-- Footer End -->
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        {% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{{ asset('assets/onepage/lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/easing/easing.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/wow/wow.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/lightbox/js/lightbox.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/nivo-slider/js/jquery.nivo.slider.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/onepage/lib/counterup/counterup.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/onepage/lib/slick/slick.min.js') }}"></script>
<script src="{{ asset('assets/onepage/js/main.js') }}"></script>    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://www.assimil.com/themes/assimil/cache/v_119_73bc7e10a891cbb31840fa9bbfeb1ce9.js"></script>
    </body>
</html>

