{% extends 'base3.html.twig' %}
{% block title %}Comment s'inscrire ?{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body %}
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>How to register? </h2>
                <p class="text-center">With easy registration, <a href="#">frenchonline.cm</a> is a user-friendly platform</p>
            </div>
            
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3 class="titre">1. Connection</h3>
                             {#<a class="btn" href="">+</a>#}
                        </div>
                        <div class="blog-meta">
                            <p>Step 1</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Once on the <a class="link" href="https://frenchonline.cm">frenchonline.cm</a> platform, click on the <a class="link" href="">Log in</a> 
                            </p>
                            <a href="" class="btn btn-inscrire">I am registering</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3 class="titre">2. Registration option</h3>
                             {#<a class="btn" href="">+</a>#}
                        </div>
                        <div class="blog-meta">
                            <p>Step 2</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Choose a registration option <a href="">
                                (regular learner, anonymous learner, free trial learner)</a>.
                                If you do not wish to reveal your true identity choose anonymous learner.
                                Please note: your anonymity will be lifted in case you wish to take the language level exam with a certificate;<br>
                                To better understand how the anonymous option works <a class="link" href="{{ path('for') }}#anonymous"> <b>click here.</b></a><br> <b style="color:red">NB: The anonymous learner option has limitations</b>
                            </p>
                            <a href="" class="btn btn-inscrire">I am registering</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3 class="titre">3. Account confirmation</h3>
                             {#<a class="btn" href="">+</a>#}
                        </div>
                        <div class="blog-meta">
                            <p>Step 3</p>
                        </div>
                        <div class="blog-text">
                            <p>
                               After your registration you must return to your email to confirm it. If you do not receive an email contact <a href="https://frenchonline.cm"> frenchonline.cm</a> by email or phone
                            <br>After creating your account you could login to the platform to choose your training level and Confirm payment for your training ( for paid options);
                            </p>
                            <p>For the free trial option, access to the course is direct and does not require prior validation by the frenchonline.cm support team</p>
                            <a href="" class="btn btn-inscrire">I am registering</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3 class="titre">4. Payment</h3>
                             {#<a class="btn" href="">+</a>#}
                        </div>
                        <div class="blog-meta">
                            <p>Step 4</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                For the paid options (anonymous learner and regular learner)

                             After receiving your confirmation of payment, made on your learner space,
                             Within 2 hours, frenchonline.cm technical support will send you an email to let you know that the level of training you have paid for is now available to you.
                             <br>This confirmation is done in less than two hours for payments made during the week and in less than 4 hours for payments made on the weekend.</p>
                            <a href="" class="btn btn-inscrire">I am registering</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}