{% extends 'base3.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: -100px;padding: 10px;">
                <h1 class="entete-perso text-center"> Comment comprendre la plate forme de <a href="#">anglaisenligne.cm</a>   </h1>
              {#  La plateforme <a href="#">anglaisenligne.cm</a> est faite pour vous amener <br>graduellement à retenir l’anglais sans trop de stress.
#}
                <hr>
            </div>

           <div class="col-md-12">
               <div class="col-md-6 text-justify">
                   La plateforme <a href="#">anglaisenligne.cm</a> est faite pour vous amener graduellement à ecrire et parler anglais sans trop de stress. Trouvez ci-dessous comment la plateforme de cours fonctionne lorsque vous êtes déjà en classe.
                   <ol>
                       <li>Pour entrer en classe…</li>
                       <li>Pour suivre le cours…</li>
                       <li>Pour faire les exercices d’application…</li>
                       <li>Pour faire le devoir du mini-module…</li>
                       <li>Pour composer l’examen du niveau de langue que vous avez suivi…</li>
                       <li>En cas de difficultés sur la plateforme ou pendant le cours…</li>
                   </ol>
               </div>
               <div class="col-md-6 text-center">
                   <img class="hidden-xs" style="height: 302px;position: relative;top: -34px;" src="{{ asset('assets/site/images/notre_methode_anglaisenligne.png') }}">
                   <img class="visible-xs img-responsive" src="{{ asset('assets/site/images/notre_methode_anglaisenligne.png') }}">
               </div>

            </div>
        </div>
    </div>
    {#<div class="col-md-12">
        <h3 class="text-center">

            Trouvez ci-dessous comment la plateforme de cours fonctionne lorsque vous êtes déjà en classe.

        </h3>
    </div>#}
    <div class="container">
        <fieldset class="type-etudiant">
            <legend class="legende">
                <h2 class=""><i class="fa fa-connectdevelop" style="font-size: 50px"></i> Lorsque vous êtes connecté sur la plate forme !</h2>
            </legend>
            <ul>
                <h4 class="sous-titre" style="border-left: solid; padding-left:5px;"> Pour entrer en classe </h4>
                <ol>
                    <li>Cliquez sur le bouton <strong>Entrez en classe</strong> pour commencer le cours.</li>
                    <li>Si vous êtes dans l’option <strong>essai gratuit</strong> vous aurez juste accès au <strong>mini-module 1 du A0</strong> et <strong>seulement 10%</strong> des fonctionnalités seront
                        activées y compris les exercices d’applications et le devoir obligatoire des mini-modules ;</li>
                    <li>Lorsque vous êtes en classe, la <strong>liste des rubriques et des sous-rubriques</strong> du mini-module que vous êtes en train de suivre
                        s’affiche sur une <strong>barre latérale et une barre verte horizontale</strong> indique votre niveau de progression ;</li>

                </ol>
                <h4 class="sous-titre" style="border-left: solid; padding-left:5px;"> Pour suivre le cours </h4>
                <ol>
                    <li>Chaque niveau de langue est structuré en mini-module avec progression graduelle et le mini-module en lui-même a quatre parties:
                        <br><strong>(la règle générale, le stop, l’exemple avec audio, et l’exercice d’application) ;</strong></li>
                    <li>Les enchaînements du cours sont liés et se débloquent au fur et à mesure. </li>
                    <li>Vous devez cliquer sur chaque partie du cours et faire l’exercice d’application sinon vous ne pourriez pas progresser ;</li>

                </ol>
                <h4 class="sous-titre" style="border-left: solid; padding-left:5px;">Pour faire les exercices d’application</h4>
                <ol>
                    <li>Pour faire les exercices vocaux utiliser la console d'enregistrement vocal d’anglaisneligne.cm</li>
                    <li>Il y a des exercices vocaux et audio ; vous pourrez délier votre langue en imitant l’intonation de l’interlocuteur de l’audio modèle ; </li>
                    <li>vous pourrez vous réécouter et reprendre votre audio plusieurs fois avant d’envoyer à l’enseignant pour correction au niveau devoir ;</li>

                </ol>


                <h4 class="sous-titre" style="border-left: solid; padding-left:5px;">Pour faire le devoir du mini-module</h4>

                Après avoir parcouru les cours et effectué tous les exercices d’applications des <strong>12 rubriques et 16 sous-rubriques</strong> du mini-module, un <strong>devoir obligatoire</strong> suivra automatique. Le devoir obligatoire vous évalue sur toutes les rubriques parcourues dans le mini-module et
                s’inspire des exercices d’applications. D’où l’importance de bien faire les exercices d’application de chaque rubrique.
                <ol>
                    <li>La bonne nouvelle est que vous n’êtes pas obligé de finir votre devoir le même jour.</li>
                    <li>Vous avez la possibilité de cliquer sur le bouton <strong>Continuez mon devoir plus tard. A votre prochaine connexion vous pourrez continuer où vous êtes arrêté la dernière fois.</strong> </li>
                    <li>Dès que le devoir est soumis, l’enseignant dispose d’un délai de correction de  6 heures pour les devoirs soumis en semaine, et pour les devoirs soumis le samedi avant midi l’enseignant dispose d’un délai de 4 heures pour renvoyer les corrections des devoirs ;</li>
                    <li>L’apprenant reçoit les <strong>feedback des devoirs</strong> par une alerte via email et peut également visualiser toute l’historique des corrections à partir de son espace apprenant ;</li>
                    <li>Vous pouvez directement comparer les corrections à vos réponses initiales de façon voir clairement à quel niveau vous avez fait l’erreur. Pour les exercices vocaux par exemple si l’enseignant indique une erreur de prononciation, vous pourrez vous <strong>réécouter en un clic</strong> pour voir exactement sur quel mot vous avez bafouillé et vous ajuster.</li>
                </ol>



                <h4 class="sous-titre" style="border-left: solid; padding-left:5px;">Pour composer l’examen du niveau de langue que vous avez suivi</h4>
                <ol>
                    <li>La première condition pour être éligible à l’évaluation c’est d’avoir la moyenne minimale requise sur tous les devoirs (voir le système d’annotation des devoirs sur la partie devoir).</li>
                    <li>Lorsque vous finissez tous les mini-modules du niveau et que tous vos devoirs sont corrigés avec un statut approuvé, alors vous aurez automatiquement accès à l’examen d’évaluation du niveau ;</li>
                    <li>les examens de niveau ont trois parties : <strong>la partie grammaire écrite, la partie orale, et la partie vocabulaire.</strong></li>
                </ol>


                <h4 class="sous-titre" style="border-left: solid; padding-left:5px;">En cas de difficultés sur la plateforme ou pendant le cours</h4>
                <ol>
                    <li>Un bouton de <strong>chat à l’extrême droite du coin du site</strong> vous permet de signaler directement à l’équipe support un problème ou une difficulté rencontrée sur la plateforme. L’équipe répondra dans un délai de 4 heures.</li>
                    <li>Lorsque vous cliquez sur <strong>Accueil</strong> la barre latérale gauche affiche la <strong>liste des services offerts</strong> dans le cadre de votre formation. Ainsi vous pourrez retrouver : </li>
                    <ul>
                        <li>l’historique de vos cours,</li>
                        <li>les statuts de vos devoirs soumis pour correction aux enseignants,</li>
                        <li>réviser les cours,</li>
                        <li>payer pour vos formations,</li>
                        <li>télécharger la liste de vocabulaires et les devoirs effectués,</li>
                        <li>programmer des évaluations,</li>
                        <li>voir le statut de ses attestations de réussite si en mode apprenant régulier.</li>
                    </ul>
                </ol>
                <b style="color:red">Attention : Pour bien suivre votre cours il faut toujours avoir un bloc note pour prendre les notes au fur et à mesure ; et surtout rassurez-vous que vous avez un micro intégré à votre téléphone ou un casque fonctionnel avec retour pour pouvoir prendre réussir vos exercices vocaux.</b>

            </ul>

        </fieldset>

    </div>

    <script language="JavaScript">

        $("#myNavbar li").removeClass();
        $("#myNavbar li")[7].className = "active";
    </script>
{% endblock %}