{% extends 'base3.html.twig' %}
{% block title %}Contact us{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body %}
            <div class="contact wow fadeInUp">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>Contact us</h2>
                        <p>Our academic service will always be available to answer you 7/7;</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-info">
                                <div class="contact-item">
                                    <i class="flaticon-address"></i>
                                    <div class="contact-text">
                                        <h2>Location</h2>
                                        <p>Yaoundé - Montée Jouvence</p>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <i class="flaticon-call"></i>
                                    <div class="contact-text">
                                        <h2>Phone</h2>
                                        <p>(+237) 677 325 343 <img src="{{asset('assets/onepage/images/Logowhatsapp.png')}}" style="height: 24px;"></p>
                                        <p>(+237) 222 311 875</p>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <i class="flaticon-send-mail"></i>
                                    <div class="contact-text">
                                        <h2>Email</h2>
                                        <p>contact@anglaisenligne.cm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-form">
                                <h2 style="" class="text-center laisse">Leave us a message</h2>
                                <div id="success"></div>
                                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="name" placeholder="Your name" required="required" data-validation-required-message="Your name" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="email" class="form-control" id="email" placeholder="Your email" required="required" data-validation-required-message="Your email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Objet" required="required" data-validation-required-message="Objet" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <textarea class="form-control" id="message" placeholder="Detail your concern" required="required" data-validation-required-message="Detail your concern"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div>
                                        <button class="btn" type="submit" id="sendMessageButton">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock body %}


{% block contenu %}

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-top: -100px;padding: 10px;">
            <h1 class="entete-perso text-center">Contactez-nous !</h1>
            <hr>
        </div>
    {#    <div class="col-md-12 text-center"><img class="img-responsive visible-xs visible-sm" src="{{ asset('assets/site/images/baniere-cours-anglais-en-ligne-cameroun.png') }}">
            <img class="hidden-xs hidden-sm" src="{{ asset('assets/site/images/baniere-cours-anglais-en-ligne-cameroun.png') }}">
        </div>#}
    </div>
</div>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h4 class="text-center">Notre service académique sera toujours disponible pour vous répondre 7/7;</h4>

            </div>
            <hr>

            <div class="col-md-12 col-sm-12 col-xs-12" id="contacteznous" style="background-color: #FFF;margin-bottom:100px">
                <div class="col-md-4 col-xs-6 text-center">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <h5>ADRESSE</h5>
                    <h5>Yaoundé - Montée Jouvence</h5>
                </div>
                <div class="col-md-4 col-xs-6 text-center" >
                    <span class="glyphicon glyphicon glyphicon-earphone"></span>
                    <h5>TELEPHONE</h5>
                    <h5>(+237)677 325 343<img src="{{asset('assets/onepage/images/Logowhatsapp.png')}}" style=" height:5%">
                        <br>Office : (+237) 222 311 875  </h5>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <span class="glyphicon glyphicon glyphicon glyphicon-envelope"></span>
                    <h5>EMAIL</h5>
                    <h5><a href="mailto:contact@anglaisenligne.cm">contact@anglaisenligne.cm</a></h5>
                    <h5><a>anglaisenligne.cm@gmail.com</a></h5>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript">

        $("#myNavbar li").removeClass();
        $("#myNavbar li")[12].className = "active";
    </script>
{% endblock %}