{% extends 'base3.html.twig' %}


{% block body %}
  <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>Frenchonline.cm for whom?</h2><br>
                <p class="text-center">The <a href="#">Frenchonline.cm</a> platform is tailored to the needs of English speakers from diverse backgrounds. Whether you are a worker, student or pupil.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{ asset('assets/onepage/images/french-online-course3.jpg') }}" alt="apprenant travailleur">
                        </div>
                        <div class="blog-title">
                            <h3>Workers</h3>
                            <a class="btn" href="">+</a>
                        </div>
                        <div class="blog-text">
                            <p>
                                Workers who need French to develop their careers or work in French-speaking countries.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{ asset('assets/onepage/images/french-online-course3.jpg') }}" alt="apprenant étudiant">
                        </div>
                        <div class="blog-title">
                            <h3>Students</h3>
                            <a class="btn" href="">+</a>
                        </div>
                        <div class="blog-text">
                            <p>
                                Students who are preparing for their future career or who wish to continue their studies in French-speaking countries
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{ asset('assets/onepage/images/french-online-course3.jpg') }}" alt="apprenant enfant">
                        </div>
                        <div class="blog-title">
                            <h3>Students</h3>
                            <a class="btn" href="">+</a>
                        </div>
                        <div class="blog-text">
                            <p>
                                Solution for parents who want their children to speak standard French, quickly, efficiently and step by step.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>Available learner options</h2> <br>
                <p class="text-center">On <a href="#">Frenchonline.cm</a>, You have the ability to hide your identity and train anonymously.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3 class="titre">Regular learner</h3>
                            <a class="btn" href="">+</a>
                        </div>
                        <div class="blog-img">
                            <img src="{{ asset('assets/onepage/images/french-online-course3.jpg') }}" alt="apprenant regulier">
                        </div>
                        <div class="blog-text">
                            <p>
                                Do you want a training course that follows the standard curriculum with a certificate of qualification for your professional activities or for your higher studies? Register as a regular learner. 
                            </p>
                                <a style="width:100%" href="" class="btn lire-plus">Register as a regular learner</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3 class="titre">Anonymous learner</h3>
                            <a class="btn" href="">+</a>
                        </div>
                        <div class="blog-img">
                            <img src="{{ asset('assets/onepage/images/french-online-course3.jpg') }}" alt="apprenant regulier">
                        </div>
                        <div class="blog-text">
                            <p>
                                On the platform <a href="#">Frenchonline.cm</a> you can register and train without revealing your identity. Your personal information is only requested at the time of certification.
                            </p>
                                <a style="width:100%" href="" class="btn lire-plus">Register as an anonymous learner here</a>
                        </div>
                    </div>
                </div>
                <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>Anonymous training</h2> <br>
                        <p>How does it work?</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            How to register anonymously</strong> ?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ol>
                                                <li>When creating an account to access the courses, choose the anonymous learner option and put your username and password;</li>
                                                <li>At the email level you can create a new email with fictitious names instead of revealing your real email addresses. </li>
                                                <li>Make a note of this new email address because you will use it throughout your training on Frenchonline</li>
                                                <li>For the phone number you can insert a dedicated phone number for your lessons. If you don't want to do the coaching online the phone number will not be mandatory</li>
                                                <li>To pay discreetly, make a direct deposit into our various accounts rather than a wire transfer</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            Am I eligible for anonymous training?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ol>
                                                <li class="sous-titre">Who is the anonymous learner option for? </li>
                                                This option is for those who want to learn without revealing their identity
                                                and who would like to learn French quickly
                                                for personal needs. Your registration number is your unique identifier at our center.
                                                <li class="sous-titre">Anonymous learner option and certification </li>
                                                Anonymous learners do not necessarily need to apply for certification.  However, where the need for a language
                                                of a language qualification is required,
                                                anonymity will be lifted and the learner will need to use their unique identifier to retake the assessments.
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}