{% extends 'base3.html.twig' %}
{% block title %}Platform in pictures{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body %}
    <div class="portfolio">
        <div class="container">
            <div class="section-header text-center">
                <h2>Gallery of the course platform</h2>
                <p>The course platform in pictures</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".first">Registration</li>
                        <li data-filter=".second">The course</li>
                        <li data-filter=".third">The assignment</li>
                        <li data-filter=".fourth">Evaluation</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-1.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                     
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 1</h3>
                            <a class="btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-2.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 2</h3>
                            <a class="btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.3s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-3.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 3</h3>
                            <a class="btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.4s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-4.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 4</h3>
                            <a class="btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-5.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 5</h3>
                            <a class="btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.6s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-6.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 6</h3>
                            <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item fourth wow fadeInUp" data-wow-delay="0.6s">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="img/portfolio-6.jpg" alt="Image">
                            <div class="portfolio-overlay">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>Image 7</h3>
                            <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 load-more">
                    <a class="btn" href="#">View more</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
