{% extends 'base3.html.twig' %}


{% block body %}
 <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>Our language levels</h2> <br>
                <p class="text-center"><a href="#">Seven language levels</a> are available on the <a href="#">Frenchonline.cm</a> platform.  Learners are free to start with the language level of their choice.</p>
                <p class="text-center wow fadeInRight nb" style="color:white">We strongly encourage all French speakers to take the A0 level first, which was created to provide a good foundation.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">A0. Fondamental</h3>
                                                     </div>
                        <div class="blog-meta">
                            <p>35 000 XAF<a href="#">(63$)</a></p> /
                            <p>08 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                The level A0 gives you the fundamentals to understand the principles of the language.
                            </p>
                            <a href="" class="btn btn-inscrire">Register for the level A0</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">A1. Débutant</h3>
                                                     </div>
                        <div class="blog-meta">
                            <p>40 000 XAF<a href="#">(72$)</a></p> /
                            <p>07 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Gain confidence in your exchanges in French with the level A1 you are an alert beginner who can hold a basic conversation in French.
                            </p>
                            <a href="" class="btn btn-inscrire">Register for the level A1</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">A2. &Eacute;l&eacute;mentaire</h3>
                                                    </div>
                        <div class="blog-meta">
                            <p>45 000 XAF<a href="#">(81$)</a></p> /
                            <p>07 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Be more fluent in oral and written English in a French language elementary context.
                            </p>
                            <a href="" class="btn btn-inscrire">Register for the level A2</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">B1. Pre-interm&eacute;diaire</h3>
                                                    </div>
                        <div class="blog-meta">
                            <p>50 000 XAF<a href="#">(90$)</a></p> /
                            <p>07 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Speak structured French using complex sentences at the pre-intermediate level.
                            </p>
                            <a href="" class="btn btn-inscrire">Register for the level B1</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">B2. Interm&eacute;diaire</h3>
                                                    </div>
                        <div class="blog-meta">
                            <p>60 000 XAF<a href="#">(108$)</a></p> /
                            <p>07 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Speak fluent French with reinforced French grammar at the intermediate level.
                            </p>
                            <a href="/user/login" class="btn btn-inscrire">Register for the level B2</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">C1. Avanc&eacute;</h3>
                                                    </div>
                        <div class="blog-meta">
                            <p>65 000 XAF<a href="#">(117$)</a></p> /
                            <p>07 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Become more spontaneous in French both orally and in writing with an advanced level of grammar.
                            </p>
                            <a href="/user/login" class="btn btn-inscrire">Register for the level C1</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-img">
                        </div>
                        <div class="blog-title">
                            <h3 class="titre">C2. Comp&eacute;tent</h3>
                        </div>
                        <div class="blog-meta">
                            <p>75 000 XAF<a href="#">(126$)</a></p> /
                            <p>07 Mini-modules</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                Speak fluent French using high grammar and idioms of the French language.
                            </p>
                            <a href="" class="btn btn-inscrire">Register for the level C2</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock body %}