{% extends 'base3.html.twig' %}
{% block title %}2nd step of our method{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body %}
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>Step 2: Ensuring quality and educational transparency </h2><br>
                <p class="text-center">The <a href="#">frenchonline.cm</a> platform offers exceptional quality assurance and transparency in the educational process</p>
            </div>
            <div class="row">
                    <div class="timeline"> 
                          <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
                            <div class="timeline__event__icon ">
                              <i class="fa fa-star"></i>

                            </div>
                            <div class="timeline__event__date">
                              1/3
                            </div>
                            <div class="timeline__event__content ">
                              <div class="timeline__event__title wow fadeInLeft">
                                Compliance with E-learning standards
                              </div>
                              <div class="timeline__event__description wow fadeInUp">
                                <p><a href="#">frenchonline.cm</a> is a transparent platform with an E-learning process that respects the IEEE/LTSC (Learning Technology Standards Committee) standard. Assignment grades and assessments reflect the learner's actual level. With Englishonline.cm the learner cannot cheat and teachers cannot give arbitrary grades or fancy feedbacks.</p>
                              </div>
                            </div>
                          </div>
                      <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
                        <div class="timeline__event__icon">
                          <i class="fa fa-check"></i>

                        </div>
                        <div class="timeline__event__date">
                          2/3
                        </div>
                        <div class="timeline__event__content">
                          <div class="timeline__event__title">
                            Monitoring and transparency in evaluation
                          </div>
                          <div class="timeline__event__description wow fadeInRight">
                            <p>Teachers cannot see the learner's personal information and grade the assignments without bias. During the grading process, grades are self-calculating to give a rational final grade. Each teacher's corrections and feedback are reviewed by a senior teacher before being sent to the learner.</p>
                          </div>
                        </div>
                      </div>
                      <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
                        <div class="timeline__event__icon">
                          <i class="fa fa-signal"></i>

                        </div>
                        <div class="timeline__event__date">
                          3/3
                        </div>
                        <div class="timeline__event__content">
                          <div class="timeline__event__title">
                            Progressive and digestible learning
                          </div>
                          <div class="timeline__event__description wow fadeInLeft">
                            <p>On <a href="#">frenchonline.cm</a> each learner can calculate their course length and determine how long it will take to complete. The parts of the course flow automatically and learners cannot move forward without following the normal course progression.</p>
                          </div>

                        </div>
                      </div>
                    </div>
            </div>
        </div>
        <div class="text-center">
          <a class="btn lire-plus fadeInUp" href="">Register on the platform now</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img style="width: 100%;height: auto;" class="hidden-xs" src="{{ asset('assets/onepage/images/methode.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock body %}