{% extends 'base3.html.twig' %}
{% block title %}Nos prix{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body  %}
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>Our prices </h2>
                <p class="text-center">Affordable prices for quality training</p>
            </div>
            
        </div>
        <div class="container">
            <div id="generic_price_table">   
                    <section>
                            <div class="container">
                                
                                <div class="row">
                                    <div class="col-md-4 vedette wow fadeInUp prix-mobile-1">
                                    
                                        <div class="generic_content clearfix">
                                            
                                            <div class="generic_head_price clearfix">
                                            
                                                <div class="generic_head_content clearfix">
                                                
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Stage A</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="generic_price_tag clearfix">  
                                                    <span class="price">
                                                        <span class="sign">120 000 XAF</span>
                                                        <span class="currency">/</span>
                                                        <span class="cent">(216$)</span>
                                                    </span>
                                                </div>
                                            </div>                            
                                            <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>Level A0: <span class="price">35.000 XAF (63$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                    <li class="scnd"><span>Level A1: <span class="price">40.000 XAF (72$)</span> <br><span class="desc">08 mini-modules</span></li>
                                                    <li><span>Level A2: <span class="price">55.000 XAF (81$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                              <a class="" href="">S'inscrire à ce palier</a>
                                            </div>
                                            
                                        </div>
                                            
                                    </div>
                                    <div class="col-md-4 wow fadeInLeft">
                                    
                                        <div class="generic_content active clearfix">
                                            
                                            <div class="generic_head_price clearfix">
                                            
                                                <div class="generic_head_content clearfix">
                                                
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Stage B</span>
                                                    </div>
                                                    
                                                </div>
                                                
                                                <div class="generic_price_tag clearfix">  
                                                    <span class="price">
                                                        <span class="sign">110 000 XAF</span>
                                                        <span class="currency">/</span>
                                                        <span class="cent">(198$)</span>
                                                    </span>
                                                </div>
                                                
                                            </div>                            
                                            
                                            <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>Level B1: <span class="price">50.000 XAF (90$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                    <li class="scnd"><span>Level B2: <span class="price">60.000 XAF (108$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="generic_price_btn clearfix">
                                              <a class="" href="">Register for this stage</a>
                                            </div>
                                            
                                        </div>
                                            
                                    </div>
                                    <div class="col-md-4 vedette wow fadeInUp prix-mobile-2">
                                    
                                        <div class="generic_content clearfix">
                                            
                                            <div class="generic_head_price clearfix">
                                            
                                                <div class="generic_head_content clearfix">
                                                
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Stage A</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="generic_price_tag clearfix">  
                                                    <span class="price">
                                                        <span class="sign">120 000 XAF</span>
                                                        <span class="currency">/</span>
                                                        <span class="cent">(216$)</span>
                                                    </span>
                                                </div>
                                            </div>                            
                                            <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>Level A0: <span class="price">35.000 XAF (63$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                    <li class="scnd"><span>Level A1: <span class="price">40.000 XAF (72$)</span> <br><span class="desc">08 mini-modules</span></li>
                                                    <li><span>Level A2: <span class="price">55.000 XAF (81$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                              <a class="" href="">Register for this stage</a>
                                            </div>
                                            
                                        </div>
                                            
                                    </div>
                                    <div class="col-md-4 wow fadeInRight">
                                    
                                        <div class="generic_content clearfix">
                                            
                                            <div class="generic_head_price clearfix">
                                            
                                                <div class="generic_head_content clearfix">
                                                
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Stage C</span>
                                                    </div>
                                                    
                                                </div>
                                                
                                                <div class="generic_price_tag clearfix">  
                                                    <span class="price">
                                                        <span class="sign">135 000 XAF</span>
                                                        <span class="currency">/</span>
                                                        <span class="cent">(243$)</span>
                                                    </span>
                                                </div>
                                                
                                            </div>                            
                                            
                                            <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>Level C1: <span class="price">65.000 XAF (117$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                    <li class="scnd"><span>Level C2: <span class="price">75.000 XAF (126$)</span> <br><span class="desc">07 mini-modules</span></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="generic_price_btn clearfix">
                                              <a class="" href="">Register for this stage</a>
                                            </div>
                                            
                                        </div>
                                            
                                    </div>
                                </div>  
                                
                            </div>
                        </section>
</div>
        </div>
    </div>
{% endblock body %}


{% block contenu %}

    <div class="container-fluid">
        <div class="col-md-12" style="margin-top: -100px;padding: 10px;">
            <h1 class="entete-perso text-center">Des prix abordables pour une formation de qualit&eacute;</h1>
            <hr>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 text-center">
                <img class="hidden-sm hidden-xs" src="{{ asset('assets/onepage/images/anglaisenligne.cm - une formation de qualite pou des prix abordables.jpg') }}">
                <img class="visible-xs visible-sm img-responsive" src="{{ asset('assets/onepage/images/anglaisenligne.cm - une formation de qualite pou des prix abordables.jpg') }}">
            </div>

            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h4 class="sous-titre0" ><i class="fa fa-dollar"></i>Des prix abordables pour une formation d’anglais efficace</h4>
            </div>

        </div>
        <div class="col-md-12 ">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-justify">
                Oui ! Anglaisenligne.cm est abordable comparativement à son efficacité. Votre argent ne se perd pas.
                La plateforme d’anglaisenligne.cm vous aide à faire des économies tout en garantissant une meilleure progression en anglais.
                Avec anglaisenligne.cm vous payez pour une formation et vous décidez de votre rythme de formation.
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab"  id="heading11"  >
                            <h4 class="panel-title">

                                <h4 role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11"  aria-expanded="false"
                                    aria-controls="collapse11" class="sous-titre2" style="border-left: solid; padding-left:5px;">Voir les prix par Palier</h4>

                            </h4>
                        </div>

                        <div id="collapse11"   class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading11" >
                            <div class="panel-body">

                                <table class="table table-bordered table-responsive table-striped">
                                    <tr>
                                        <th>Nom du Palier</th>
                                        <th>Prix</th>
                                        <th>Nombre de niveaux</th>
                                    </tr>
                                    <tr>
                                        <td>Palier A</td>
                                        <td>120 000 XAF(216$)</td>
                                        <td>03 NIVEAUX  (A0, A1, A2)</td>
                                    </tr>
                                    <tr>
                                        <td>Palier B</td>
                                        <td>110 000 XAF(198$)</td>
                                        <td>02 NIVEAUX  (B1, B2)</td>
                                    </tr>
                                    <tr>
                                        <td>Palier C</td>
                                        <td>135 000 XAF(243$)</td>
                                        <td>02 NIVEAUX  (C1, C2)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab"  id="heading12"  >
                            <h4 class="panel-title">

                                <h4 role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12"  aria-expanded="false"
                                    aria-controls="collapse12" class="sous-titre2" style="border-left: solid; padding-left:5px;">Voir les prix par Niveau</h4>

                            </h4>
                        </div>

                        <div id="collapse12"   class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading12" >
                            <div class="panel-body">
                                <table class="table table-bordered table-responsive table-striped">
                                    <tr>
                                        <th>Nom du Niveau</th>
                                        <th>Prix</th>
                                        <th>Nombre de min-modules</th>
                                    </tr>
                                    <tr>
                                        <td>Niveau A0</td>
                                        <td>35 000 XAF (63$)</td>
                                        <td>08 Mini-modules</td>
                                    </tr>
                                    <tr>
                                        <td>Niveau A1</td>
                                        <td>40 000 XAF(72$)</td>
                                        <td><span class="desc">07 mini-modules</span></td>
                                    </tr>
                                    <tr>
                                        <td>Niveau A2</td>
                                        <td>45 000 XAF(81$)</td>
                                        <td><span class="desc">07 mini-modules</span></td>
                                    </tr>
                                    <tr>
                                        <td>Niveau B1</td>
                                        <td>50 000 XAF(90$)</td>
                                        <td><span class="desc">07 mini-modules</span></td>
                                    </tr>
                                    <tr>
                                        <td>Niveau B2</td>
                                        <td>60 000 XAF(108$)</td>
                                        <td><span class="desc">07 mini-modules</span></td>
                                    </tr>
                                    <tr>
                                        <td>Niveau C1</td>
                                        <td>65 000 XAF(117$)</td>
                                        <td><span class="desc">07 mini-modules</span></td>
                                    </tr>
                                    <tr>
                                        <td>Niveau C2</td>
                                        <td>75 000 XAF(126$)</td>
                                        <td><span class="desc">07 mini-modules</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12">
                <h4 class="text-center">Payez via </h4>

                <div class="col-md-4 text-center">
                    <img style="width:200px; margin-top: 10px" src="{{ asset('assets/onepage/images/Afriland-First-Bank.jpeg') }}">

                </div>
                <div class="col-md-4 text-center">
                    <img style="width: 140px; margin-top: 10px" src="{{ asset('assets/onepage/images/MoMo.png') }}">

                </div>
                <div class="col-md-4 text-center">
                    <img style="width: 94px; margin-top: 10px" src="{{ asset('assets/site/onepage/paypal.png') }}">

                </div>


            </div>






        </div>
    </div>

    <div class="container">

        <p class="text-center">
            <a class="btn btn-warning" href="" style="margin-top: 10px; color: #fff; background-color: #2a426d; border-color: #ffffff;">Je m'inscris maintenant</a>
        </p>
    </div>
    <div id="myModal" class="modal ">

        <div class="col-md-3"></div>
        <div class="modal-content col-md-6" id="img01" style="font-family: 'Raleway';">
            <span class="close" style="z-index:9999">×</span>
            <div class="col-md-5 hidden-xs">
                <center>
                    <img style="height: 150px;" class="img-responsive" src="{{asset('diplome/timing.jpg')}}">
                </center>
            </div>
            <div class="col-md-7">
                <h2 class="text-center titre-attout" style="margin-top:55px;">Connaitre mon temps de formation en fonction de mon emploi de temps !</h2>
            </div>
            <div class="text-center">
                <div class="col-md-12">
                    <div class="col-md-5 text-right label-choix">
                        Si je me connecte
                    </div>
                    <div class="col-md-7">
                        <select id="heure_user" class="form-control" onchange="temps()">
                            <option value="2">S&eacute;lectionner une fréquence </option>
                            <option value="2">2 heures/semaine</option>
                            <option value="4">4 heures/semaine</option>
                            <option value="6">6 heures/semaine</option>
                            <option value="8">8 heures/semaine</option>
                            <option value="10">10 heures/semaine</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:10px">
                    <div class="col-md-5 text-right label-choix">
                        Je fini un
                    </div>
                    <div class="col-md-5">
                        <select id="stage_user" class="form-control" onchange="temps()">
                            <option value="2">S&eacute;lectionner un package</option>
                            <option value="3">mini module en</option>
                            <option value="28">Niveau en</option>
                            <option value="84">Palier en</option>
                            <option value="252">Tout le programme en</option>
                        </select>
                    </div>
                </div>
                <div class="text-center col-md-12" style="margin-bottom: 20px;margin-top:10px">
                    <span class="time">Timing = <b id="temps_connexion" ></b></span>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
    <script language="JavaScript">
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('temps2');
        var modalImg = document.getElementById("img01");
        var modalanswer = document.getElementById("answer");

        img.onclick = function(){

            modal.style.display = "block";
            modalImg.src = this.src;

        };

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {

            modal.style.display = "none";

        };
    </script>

    <script language="JavaScript">

        $("#myNavbar li").removeClass();
        $("#myNavbar li")[10].className = "active";
    </script>
{% endblock %}