{% extends 'base3.html.twig' %}
{% block title %}1st step of our method{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body %}
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2>Step 1: Targeting the difficulties </h2><br>
                <p class="text-center">The <a href="#">frenchonline.cm</a> method solves the three major difficulties of English speakers and facilitates the learning of the French language</p>
            </div>
            <div class="row">
                    <div class="timeline"> 
                          <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
                            <div class="timeline__event__icon ">
                              <i class="fa fa-microphone"></i>

                            </div>
                            <div class="timeline__event__date">
                              1/3
                            </div>
                            <div class="timeline__event__content ">
                              <div class="timeline__event__title wow fadeInLeft">
                                Mandatory vocal exercises
                              </div>
                              <div class="timeline__event__description wow fadeInUp">
                                <p>The first difficulty for English speakers is the lack of practice in the language after the course because they have no one at home or in the office to talk to. <a href="#">frenchonline.cm</a> a mis l’accent sur l’oral. L’apprenant ne peut pas progresser sur la plateforme sans les exercices oraux dont les niveaux de difficultés sont adaptés au niveau de langue de l’apprenant. <a href="#">frenchonline.cm</a> propose une approche holistique où l’apprenant apprend les règles grammaticales dans sa langue d’origine et pratique l’expression orale pour la parler couramment et pour l’écrire rapidement l’anglais.</p>
                              </div>
                            </div>
                          </div>
                      <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
                        <div class="timeline__event__icon">
                          <i class="fa fa-volume-up"></i>

                        </div>
                        <div class="timeline__event__date">
                          2/3
                        </div>
                        <div class="timeline__event__content">
                          <div class="timeline__event__title">
                            Refined pronunciation
                          </div>
                          <div class="timeline__event__description wow fadeInRight">
                            <p>The second major difficulty for English speakers is the French pronunciation <a href="#">frenchonline.cm</a> permet de bien prononcer l’anglais en proposant des cours d’anglais qui intègrent la phonétique de base de l’anglais parler sur tous les 07 niveaux de langue de la plateforme. C’est pourquoi pour faire son cours sur anglaisenligne.cm il faut absolument avoir son casque avec retour pour l’expression orale. Le fait que tous les textes du cours s’accompagnent d’audio permet de se familiariser à la langue standard car parfois ceux avec qui on échange à la maison ou au bureau ne sont pas toujours des références.</p>
                          </div>
                        </div>
                      </div>
                      <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
                        <div class="timeline__event__icon">
                          <i class="fa fa-recycle"></i>

                        </div>
                        <div class="timeline__event__date">
                          3/3
                        </div>
                        <div class="timeline__event__content">
                          <div class="timeline__event__title">
                            Beyond words...
                          </div>
                          <div class="timeline__event__description wow fadeInLeft">
                            <p>The third major difficulty is the fact that the French course offerings are not always adapted to the needs of English speakers who complain that most of the platforms essentially offer interactive games to memorize French words and their meaning in English and sometimes the sites are just databases of French teachers and when you missed the appointment with the teacher you lost your money, in addition to the stress. <a href="#">frenchonline.cm</a> allows flexibility, you can even click "continue my assignment later" and log back in when you are free. When you pay for a level you manage your progress, assignments and assessments, and teachers grade your assignments and exams within 24 hours. If you pass the level exam, your certificate will be instantly downloadable to your learner space. Your payment remains valid for a full year.</p>
                          </div>

                        </div>
                      </div>
                    </div>
            </div>
        </div>
        <div class="text-center">
          <a class="btn lire-plus fadeInUp" href="">Register on the platform now</a>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <img style="width: 100%;height: auto;" class="hidden-xs" src="{{ asset('assets/onepage/images/methode.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
