{% extends 'base3.html.twig' %}
{% block title %}Our partners{% endblock title %}

{% block slide %}
{% endblock slide %}

{% block body %}
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <h2>Our partners</h2>
                <p>In order to best meet the needs of French language learners, we have developed partnerships with internationally renowned language schools</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{{ asset('assets/onepage/images/logo.png') }}" alt="Scribo cameroon">
                        </div>
                        <div class="team-text">
                            <h2>Development and e-learning company</h2>
                            <p>Expert in E-learning technology</p>
                        </div>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{{ asset('assets/onepage/images/logo-express.png') }}" alt="Lingua-Express">
                        </div>
                        <div class="team-text">
                            <h2>Translation, Interpretation and Language Training Company</h2>
                            <p>Expert in language standards and project management</p>
                        </div>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{{ asset('assets/onepage/images/cecosdalogo.png') }}" alt="cecosda formation">
                        </div>
                        <div class="team-text">
                            <h2>Reference training center</h2>
                            <p>Expert in pedagogy / andragogy</p>
                        </div>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock body %}
