<link rel="stylesheet" href="{{ asset('assets/css/libs/intlTelInput.css') }}">
<style type="text/css">
    .iti {
        width: 100% !important;
    }
    .iti__country-name {
        font-size: 15px;
    }
    .help-block {
        color: red;
    }
</style>
{% trans_default_domain 'FOSUserBundle' %}
    {% if error is defined %}
        <input type="hidden" id="hidden_flash_bag_message" name="hidden_flash_bag_message" class="hidden_message" value="{{ error }}">
    {% endif %}
<div class="container" style="">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="" style="">
                <div class="" style="height: unset;width: 100%;" >
                    {{ form_start(form, {'method': 'post', 'action': path('user_auto_register'), 'attr': {'class': 'user_auto_register col-md-12','style': ''}}) }}
                    <div class="bloc-signIn">
                        <div class="account-logo">
                            <h1 class="text-center" style="color:#e46c0a">Inscription à la plateforme</h1>
                            <p style="font-size: 13px;color:white">Inscrivez-vous pour avoir accès à nos formations, programmes, cours et évaluations</p>
                        </div>
                    <div class="col-md-12" style="background: white;">
                        <div class="col-md-12" style="">{{ form_errors(form) }}</div>
                        <fieldset class="typeInscr" style="margin:20px;">
                            <legend style="color: #00669c;font-size:17px">
                                Choisissez une option d'inscription
                            </legend>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-xs-4 eltChoix">
                                        <input type="radio" required id="bouton3" name="option_apprenant" value="3"><br><label style="color: green; " for="bouton3">Test gratuit</label>
                                    </div>
                                    <div class="col-md-4 col-xs-4 eltChoix">
                                        <input id="bouton1" type="radio" required name="option_apprenant" value="1"><br><label style=" color: blue" for="bouton1"> Apprenant r&eacute;gulier (Payante)</label>
                                    </div>
                                    <div class="col-md-4 col-xs-4 eltChoix">
                                        <input type="radio" required id="bouton2" name="option_apprenant" value="2"><br><label style=" color: orange" for="bouton2"> Apprenant anonyme (Payante)</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_label(form.civility) }}<span class="text-danger" style="font-size: 25px !important;">*</span>
                                {{ form_widget(form.civility, {'attr':{'class':'form-control'}}) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_label(form.nom, "Nom et Prénom (Alias si Anonyme)") }}<span class="text-danger" style="font-size: 25px !important;">*</span>
                                {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.email, "Adresse e-mail valide") }}<span class="text-danger" style="font-size: 25px !important;">*</span>
                                <span style="color:red">{{ form_errors(form.email) }}</span>
                                {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                            </div>
                            <div class="col-md-6 ">
                                {{ form_label(form.telephone, "Numéro de téléphone (sans espaces)") }}<span class="text-danger" style="font-size: 25px !important;">*</span>
                                {{ form_widget(form.telephone, { 'attr' : { 'maxlength' : '10',  'class':'form-control', 'required': 'required'}}) }}
                            </div>
                            <div class="col-md-6">
                                <span style="color:red">{{ form_errors(form.plainPassword.first) }}</span>
                                {{ form_label(form.plainPassword.first, "Mot de passe") }}<span class="text-danger" style="font-size: 25px !important;">*</span>
                                {{ form_widget(form.plainPassword.first, { 'attr' : {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-6">
                                <span style="color:red">{{ form_errors(form.plainPassword.second) }}</span>
                                {{ form_label(form.plainPassword.second, "Verification du mot de passe") }}<span class="text-danger" style="font-size: 25px !important;">*</span>
                                {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_label(form.ville, "Ville") }}
                                {{ form_widget(form.ville, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="hidden">
                        {{ form_label(form.pays, "Votre Pays") }}
                        {{ form_widget(form.pays, {'attr':{'class':'form-control','placeholder':'Votre Pays'}}) }}

                        {{ form_label(form.organisation, "Organisation") }}
                        {{ form_widget(form.organisation, {'attr':{'class':'form-control', 'placeholder':'Organisation'}}) }}

                        {{ form_label(form.adresse, "Votre adresse") }}
                        {{ form_widget(form.adresse, {'attr':{'class':'form-control', 'placeholder':'Votre adresse'}}) }}

                        {{ form_label(form.level, "Type d'utilisateur") }}
                        {{ form_widget(form.level, {'attr':{'class':'form-control', 'placeholder':'type d\'utilisateur'}}) }}
                    </div>
                    <input type="hidden" name="country_code" id="country_code" value=""/>
                        <div class="col-md-12 col-xs-12">
                        <center>
                            <br>
                            <button type="submit" class="btn btn-primary account-btn" onclick="phone();">
                                Confirmez votre inscription
                            </button>
                        </center>
                        <hr>
                        <div class="col-md-12 col-xs-12 text-center" style="">
                            Déjà inscrit ? 
                            <a style="text-decoration: none;" href="{{path('fos_user_security_login')}}" class="pull-right btn-link">Connectez-vous</a>
                        </div>
                    </div>
                </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script src="{{asset('assets/js/jquery.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assets/js/library/head.min.js') }}"></script>
<script src="{{ asset('assets/js/main/cores/test/registration.js') }}"></script>
<script type="text/javascript">
    function phone() {
        var $phone = $('#fos_user_registration_form_telephone');
        if($phone.val() !== ''){
            var dialCode = $('.iti__selected-dial-code')[0].innerText;
            $('#country_code').val(dialCode);
        }
    }
</script>
<script type="text/javascript">
    $(window).on('load', function() {
        $('#fos_user_registration_form_telephone').attr('type', 'number');
    })
</script>
<script src="{{ asset('assets/js/main/cores/register.js') }}"></script>