<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Parlez anglais 4 fois plus vite! - Anglais en ligne</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="anglais en ligne,cours, exercices, devoirs, grammaire, vocabulaire, expression orale, orale " name="keywords">
        <meta content="Vous êtes sur la meilleur plateforme pour apprendre rapidement à parler anglais. anglaisenligne.cm propose une approche intégrée tout en mettant l’accent sur l’aspect oral (70%), la grammaire et l’écrit (30%). De votre bureau, chez vous, partout... parlez anglais !" name="description">
        <meta name="author" content="SCRIBO.CM, greensoft-group">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/siteV2/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="/siteV2/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/siteV2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/siteV2/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="/siteV2/lib/slick/slick.css" rel="stylesheet">
        <link href="/siteV2/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/siteV2/css/style.css" rel="stylesheet">
        <link href="/siteV2/css/style2.css" rel="stylesheet">
    </head>

    <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v10.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="124403608958542">
    </div>
    <div id="logowhatsapp">
        <a href="https://web.whatsapp.com/send?phone=237676054539"><img src="/assets/site/images/Logowhatsapp.png" ></a>
    </div>
        <div id="top-bar-ubuntu" class="top-bar-ubuntu row">
            <div class="header-social col-md-3 col-xs-6">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-md-6 col-xs-12 text-center slogan-ubuntu"><span class="intro">Mieux que dans une salle de classe !</span></div>
            <div class="dropdown col-md-3 pull-right col-xs-6">
                <a href="#" id="nav-link-ubuntu" class="nav-link dropdown-toggle" data-toggle="dropdown">Se connecter</a>
                <div class="dropdown-menu dropdown-menu-ubuntu">
                    <a href="/etudiant/je-cree-mon-compte-etudiant" class="dropdown-item">Vous êtes Nouveau ? <span>S'inscrire</span></a>
                    <a href="/user/login" class="dropdown-item">Déjà inscrit ? <span>Allez à l'espace apprenant</span></a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-12 col-xs-12">
                            <div class="logo">
                                <a href="/">
                                    <img id="logo" src="/assets/site/images/LogoCL.png">
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-7 col-xs-12 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Apprennez selon</h3>
                                            <p>Votre propre timing</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <img style="margin-top: 10px" height="40" src="/siteV2/img/casque.png">
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Faites des essais</h3>
                                            <p>Vocaux pendant l'apprentissage</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>(+237) 676-054-539</h3>
                                            <p>contact@anglaisenligne.cm</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->

            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Mieux que dans une salle de classe</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="/#carousel" class="nav-item nav-link accueil active">A propos</a>
                                <a href="/niveau_de_langue" class="nav-item nav-link niv-lang">Nos niveaux de langue</a>
                                <a href="/pour_qui" class="nav-item nav-link pour_qui">Pour qui ?</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle method" data-toggle="dropdown">Notre méthode</a>
                                    <div class="dropdown-menu">
                                        <a href="/notre_methode" class="dropdown-item">Cibler les difficultés des francophones</a>
                                        <a href="/assurer_la_qualite" class="dropdown-item">Assurer la qualité et transparence</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle inscrire" data-toggle="dropdown">Comment ça marche ?</a>
                                    <div class="dropdown-menu">
                                        <a href="/comment_s_inscrire" class="dropdown-item">Comment s'inscrire ?</a>
                                        <a target="_blank" href="/files/pdf/screencapture-anglaisenligne-cm-comprendre-la-plateforme-2021-06-07-08_48_40.pdf" class="dropdown-item">Comprendre la plateforme de cours</a>
                                    </div>
                                </div>
                                <a href="/nos_prix" class="nav-item nav-link nos_prix">Nos Prix</a>
                                <div class="nav-item dropdown lien-cache" style="margin-left: 20px; display:none">
                                    <a href="#" id="" class="nav-link dropdown-toggle btn btn-ubuntu" data-toggle="dropdown">Se connecter</a>
                                    <div class="dropdown-menu dropdown-menu-ubuntu">
                                        <a href="/etudiant/je-cree-mon-compte-etudiant" class="dropdown-item">Vous êtes Nouveau ? <span>S'inscrire</span></a>
                                        <a href="/user/login" class="dropdown-item">Déjà inscrit ? <span>Allez à l'espace apprenant</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Calculer mon temps de formation</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->


            <!-- Carousel Start -->
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/siteV2/img/slides/1.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">Deliez votre langue, Parlez enfin anglais!</p>
                            <h1 class="animated fadeInLeft">Parlez anglais 4 fois plus vite</h1>
                            <a class="btn animated fadeInUp" href="/user/login">Entrer en classe</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/siteV2/img/slides/2.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">Deliez votre langue, Parlez enfin anglais!</p>
                            <h1 class="animated fadeInLeft">Mieux que dans une salle de classe !</h1>
                            <a class="btn animated fadeInUp" href="/user/login">Entrer en classe</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/siteV2/img/slides/3.png" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">Deliez votre langue, Parlez enfin anglais!</p>
                            <h1 class="animated fadeInLeft">De votre bureau, Chez vous, partout</h1>
                            <a class="btn animated fadeInUp" href="/user/login">Entrer en classe</a>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
                            <!-- Carousel End -->
            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="">
                                    <img style="max-width:70px" class="description-left img-responsive" src="/assets/site/images/anglaisenligne-laptop-casque.png"  alt="">
                                </div>
                                <div class="feature-text">
                                    <h3>70% oral et 30% écrit</h3>
                                    <hr>
                                    <p class="wow fadeInRight">La méthode d’anglaisenligne.cm propose une approche intégrée tout en mettant l’accent sur l’aspect oral (70%), la grammaire et l’écrit (30%).</p>
                                    <a class="btn lire-plus" href="/files/pdf/screencapture-anglaisenligne-cm-comprendre-la-plateforme-2021-06-07-08_48_40.pdf">Lire plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 bloc-ubuntu col-md-12">
                            <div class="feature-item">
                                <div class="">
                                    <img style="max-width:66px" class="img-responsive" src="/assets/site/images/anglaisenligne-tablette-audio-casque.png" alt="">
                                </div>
                                <div class="feature-text">
                                    <h3>Plateforme pour qui?</h3>
                                    <hr>
                                    <p class="wow fadeInUp">la plateforme Anglaisenligne.cm est adaptée aux besoins des francophones d'horizons divers. Que vous soyez travailleurs, étudiants ou élèves.</p>
                                    <a class="btn btn-test" href="/pour_qui">Lire plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="">
                                    <img style="max-width:68px" class="img-responsive" src="/assets/site/images/anglaisenligne-phone-3-mini-module.png" alt="">
                                </div>
                                <div class="feature-text">
                                    <h3>4 fois plus efficace</h3>
                                    <hr>
                                    <p class="wow fadeInLeft">La méthode d’anglaisenligne.cm résout les trois grandes difficultés des locuteurs francophones et facilite l’apprentissage de la langue anglaise</p>
                                    <a class="btn lire-plus" href="/notre_methode">Lire plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="/assets/site/images/anglaisenligne-laptop-casque.png" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>Bienvenue sur la plateforme N°1 de cours d'anglais en ligne</p>
                                <h2 style="font-size: 35px;">Ajustez votre prononciation !</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    Sur la meilleure Plateforme  de cours d'anglais en ligne pour francophone <strong><a href="#">www.anglaisenligne.cm</a></strong>, parlez  l’anglais 4 fois plus vite. vous avez le suivi d’un enseignant qui vous fait le feedback de vos differents devoirs... <a class="link-ubuntu" href="/notre_methode">Lire plus</a>
                                </p>
                                <hr style="border:1px solid black; width: 50%">
                                <p>
                                    Sept niveaux de langue sont disponibles sur la plateforme anglaisenligne.cm. Les apprenants sont libres de commencer par le niveau de langue qu'ils veulent. Même si nous encourageons fortement tous les francophones à faire d'abord le niveau A0 qui a été créée pour donner les bonnes bases... <a class="link-ubuntu" href="/notre_methode">Lire plus</a>  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <div class="intro-text text-center">
                <p class="wow fadeInRight">Vous êtes sur la meilleure plateforme pour apprendre l'anglais en ligne selon les standards internationaux et selon les besoins des francophones</p>
                <div class="section-header text-center" style="margin-bottom:20px">
                    <h2 class="annonce-ubuntu wow fadeInDown">Tous les aspects de la langue en un seul cours</h2>
                </div>
                <div class="service-text" style="margin-bottom:20px">
                    <span class="label-langue wow  fadeInLeft">Grammaire</span>
                    <span class="label-langue wow  fadeInRight">Culture et Civilisation</span>
                    <span class="label-langue wow  fadeInUp">Expression Ecrite</span>
                    <span class="label-langue wow  fadeInDown">Compréhension de texte</span>
                    <span class="label-langue wow  fadeInLeft">Vocabulaire</span>
                    <span class="label-langue wow  fadeInLeft">Expression orale</span>
                </div>
                <a class="btn btn-test" href="/user/login">Tester gratuitement !</a>
            </div>
        <!-- Testimonial Start -->
            <div class="testimonial wow fadeInDown" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider-nav">
                                <div class="slider-nav"><img src="/siteV2/img/temoignage/1.jpg" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="/siteV2/img/temoignage/1.jpg" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="/siteV2/img/temoignage/2.png" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="/siteV2/img/temoignage/2.png" alt="Testimonial"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider">
                                <div class="slider-item">
                                    <h3>Mathieu KAMDEM</h3>
                                    <h4>Douala, Oct 2020</h4>
                                    <p>Ce que j’aime sur Anglaisenligne.cm est que à travers ce site j'ai appris à avoir le bon accent lors de la communication, en passant par des exercices vocaux et expressions orales.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Kevine BIDOUM</h3>
                                    <h4>Yaoundé, Jan 2021</h4>
                                    <p>Le site Anglaisenligne.cm, à travers son slogan d’accueil <strong>déliez votre langue et parlez enfin anglais</strong>, m’a donné une envie de l’explorer en profondeur. Dès les premières leçons j’avais cette tendance à vouloir m’exprimer constamment en anglais car les contenus répondaient respectivement à mes attentes.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Murielle DONGMO</h3>
                                    <h4>Edéa, Déc 2020</h4>
                                    <p>Je me suis inscrit sur Anglaisenligne.cm  pour préparer mes examen ou de concours qui ont une partie oral (concours de la fonction publique…). Les parties comportant des exercices avec audios et des cours avec audios m’ont vraiment permis de rendre ma prononciation fluide.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Julie ONANA</h3>
                                    <h4>Batouri, Sept 2020</h4>
                                    <p>Ce qui m’a particulièrement plu sur ce site c’est la manière dont sont structurés les niveaux; Ce qui permet de démontrer votre progression est que en avançant les cours deviennent plus complexes, s’allongent et reprennent les acquis de ceux antérieures;  ce qui facilite la mémorisation complète.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center wow fadeInLeft" style="font-size:18px">Vous pourrez facilement réussir aux examens et certifications internationales</h3>
                    </div>
                    <div class="col-md-12" style="padding:20px">
                        <div class="row text-center wow fadeInDown">
                            <div class="col-md-3 col-xs-6">
                                <img src="/assets/site/images/bulats.png" class="inter">
                            </div>
                            <div class="col-md-3 col-xs-6" >
                                <img src="/assets/site/images/toeic.png" class="inter">
                            </div>
                            <div class="col-md-3 col-xs-6" >
                                <img src="/assets/site/images/IELTS.png" class="inter">
                            </div>
                            <div  class="col-md-3 col-xs-6">
                                <img src="/assets/site/images/toefl2.png" class="inter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>Questions fréquemment posées</h2>
                        <p>Vous vous demandez certainement</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            A qui est destiné  <strong>anglaisenligne.cm</strong> ?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Aux francophones désirant parler la langue anglaise
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                            Quels sont les niveaux de langue disponible ?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ul>
                                                <li>Niveau A0 : Le coût de la formation du niveau A0 est de 35 000XAF</li>
                                                <li>Niveau A1 : Le coût de la formation du niveau A1 est de 40 000XAF</li>
                                                <li>Niveau A2 : Le coût de la formation du niveau A2 est de 55 000XAF</li>
                                                <li>Niveau B1 : Le coût de la formation du niveau B1 est de 50 000XAF</li>
                                                <li>Niveau B2 : Le coût de la formation du niveau B2 est de 60 000XAF</li>
                                                <li>Niveau C1 : Le coût de la formation du niveau C1 est de 65 000XAF</li>
                                                <li>Niveau C2 : Le coût de la formation du niveau C2 est de 75 000XAF</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            Quels sont les prix de formation sur anglaisenligne.cm ?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ul>
                                                <li>Palier A <br>
                                            Le palier A comporte 3 niveaux (A0, A1 et A2) et son coût est de 120 000 XAF</li>
                                            <li>Palier B <br>
                                            Le palier B comporte 2 niveaux (B1 et B2) et son coût est de 110 000 XAF</li>
                                            <li>Palier card-body
                                            Le palier C comporte 2 niveaux (C1 et C2) et son coût est de 135 000 XA</li>
                                            </ul>
                                            <a href="/nos_prix" class="btn lire-plus">Voir tous les prix</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                            Quelle est l'assurance de la qualité de la plateforme ?
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Avec notre plateforme vous aurez la possibilité de faire quatre volets de connaissance tels que, la grammaire, le vocabulaire, l’expression orale et la culture et civilisation. Ces différents volets vont vous permettre de parler couramment l’anglais.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="accordion-2">
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                            Pouvons-nous avoir une formation en accélérée ?
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Notre plateforme donne la possibilité à chaque apprenant de choisir son rythme d’apprentissage. Si l’apprenant désire une formation accélérée, notre équipe va mettre en place toutes les dispositions afin de vous permettre de bien poursuivre votre formation.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                            Le test de niveau est-il obligatoire ?
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Le test de niveau n’est pas obligatoire, l’apprenant s’inscrit directement au niveau ou palier dont il souhaite poursuivre sa formation.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseHeight">
                                            Proposez-vous des cours d’anglais dans tous les pays ?
                                        </a>
                                    </div>
                                    <div id="collapseHeight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Notre plateforme propose des cours d’anglais en ligne dans tous les pays et un diplôme agrée est délivré à chaque apprenant à la fin de la formation.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                            Puis je présenter un examen de TOELF avec votre formation?
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Avec notre plateforme vous pouvez présenter un examen de TOELF, nous vous donnons également la possibilité de faire la préparation aux Certification ITIL, Certification TOIC, Certification BULATS, Certification IELTS
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEleven">
                                            Calculer mon temps de formation ?
                                        </a>
                                    </div>
                                    <div id="collapseEleven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Vous désirez savoir le nombre de temps que votre formation vous prendra ? <a class="btn lire-plus" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Simuler ici</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- FAQs End -->
                            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Notre méthode</h2>
                                <img style="max-width:220px" class="img-responsive" src="/assets/site/images/temps.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Service académique</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Yaoundé - Cameroun </p>
                                <p><i class="fa fa-map-marker-alt"></i>Akwa Center - Douala</p>
                                <p><i class="fa fa-phone-alt"></i><a style="color:white" href="tel:+237676-054-539">(+237) 676-054-539</a></p>
                                <p><i class="fa fa-envelope"></i><a style="color:white" href="mailto:contact@anglaisenligne.cm">contact@anglaisenligne.cm</a></p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Liens utiles</h2>
                                <a href="/contactez_nous">Contactez-nous </a>
                                <a href="/partenaires">Nos partenaires</a>
                                <a href="/galerie">La plateforme en image</a>
                                <a href="/user/login">S'inscrire </a>
                                <a href="/comment_s_inscrire">comment ça marche ? </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">
                                <h2>Newsletter</h2>
                                <p>
                                    Abonnez-vous pour être informés des actualités et nouvelles offres sur notre plateforme
                                </p>
                                <div class="form">
                                    <input class="form-control" placeholder="Votre email">
                                    <button class="btn">Je m'abonne</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Conditions d'utilisation</a>
                        <a href="">Polices et procédures</a>
                        <a href="">Gestion des données personnelles</a>
                        <a href="">Mentions légales</a>
                        <a href="">FAQs</a>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Anglaisenligne.cm</a>, Tous droits réservés.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Développé par <a href="https://scribo.cm">SCRIBO-DEV Team</a></p>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-5 hidden-xs">
                        <center>
                             <img style="height: 150px;" class="img-responsive" src="/diplome/timing.jpg">
                        </center>
                    </div>
                    <div class="col-md-7">
                        <h3 class="text-center titre-attout" style="margin-top: 31px;background: #00334e;color: white;padding: 20px;">Connaitre mon temps de formation en fonction de mon emploi de temps !</h3>
                    </div>
                </div>
                <div class="text-center col-md-12">
                    <div class="row">
                        <div class="col-md-5 text-right label-choix">
                            Si je me connecte
                        </div>
                        <div class="col-md-7">
                            <select id="heure_user" class="form-control" onchange="temps()">
                                <option value="2">S&eacute;lectionner une fréquence </option>
                                <option value="2">2 heures/semaine</option>
                                <option value="4">4 heures/semaine</option>
                                <option value="6">6 heures/semaine</option>
                                <option value="8">8 heures/semaine</option>
                                <option value="10">10 heures/semaine</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 row" style="margin-top:10px">
                        <div class="col-md-5 text-right label-choix">
                            Je fini un
                        </div>
                        <div class="col-md-5">
                            <select id="stage_user" class="form-control" onchange="temps()">
                                <option value="2">S&eacute;lectionner un package</option>
                                <option value="3">mini module en</option>
                                <option value="28">Niveau en</option>
                                <option value="84">Palier en</option>
                                <option value="252">Tout le programme en</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center col-md-12" style="margin-bottom: 20px;margin-top:10px">
                        <span class="time">Timing = <b id="temps_connexion" ></b></span>
                    </div>
                </div>
                <div class="col-md-12" style="">
                    <button style="    background: #F44336;padding: 9px;opacity: 1;color: white;" type="button" class="close pull-right btn lire-plus" data-dismiss="modal" aria-label="Close">Fermer</button>
                </div>
            </div>
          </div>
        </div>
                <!-- Footer End -->
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/siteV2/lib/easing/easing.min.js"></script>
        <script src="/siteV2/lib/wow/wow.min.js"></script>
        <script src="/siteV2/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/siteV2/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/siteV2/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/siteV2/lib/waypoints/waypoints.min.js"></script>
        <script src="/siteV2/lib/counterup/counterup.min.js"></script>
        <script src="/siteV2/lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="/siteV2/js/main.js"></script>
    </body>
</html>
     <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Mieux que dans une salle de classe</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="" class="nav-item nav-link accueil active">A propos</a>
                                <a href="" class="nav-item nav-link niv-lang">Our courses</a>
                                <a href="" class="nav-item nav-link pour_qui">Our prices</a>
                                <a href="" class="nav-item nav-link nos_prix">Our contacts</a>
                                <div class="ml-auto">
                                    <a class="btn" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Login</a>
                               </div>
                            <div class="ml-auto">
                                <a class="btn" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Free test</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>