.atouts li{
  background: darkblue;
  color: white;
  padding-left: 10px;
  margin-top: 15px;
  font-weight: 500;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.atouts li:hover{
  background: #e69130;
  font-size: 30px;
  cursor: pointer;
}

.atout-image{
  height: 55%;
  float: right;
}




@media (max-width: 600px) {
  .title{
    font-size: 18px !important;
  }
  .atout-image {
    height: 70%;
  }
}


@media (max-width: 414px) {
  .atout-image {
    height: 36%
  }
  .title{
    font-size: 12px !important;
  }
}

@media (max-width: 375px) {
  .atout-image {
    height: 30%
  }
  .title{
    font-size: 12px !important;
  }
}


.client {
  font-size: 27px;
    background: #042a52;
    color: #e69130;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    padding: 10px;
    text-align: center;
}

.client:hover{
  font-size: 27px;
    background: #e69130;
    color: darkblue;
}

.service-menu{
  background: #f9f9f9;
  border: 0px;
}

.service-title{
  font-family: 'Lobster', cursive;
  color: #e46528;
  font-size: 34px !important;
}

.service-menu a{
  color: darkblue !important;
  1px solid #00008b1c
}

.service-menu a:hover{
  background: #e69130;
}

.nav-menu li a:hover{
  background: #e69130;
  border-radius: 10px;
  padding: 5px;
}

.comm-feats{
  list-style: none;
  text-align: justify;
  font-size: 18px;
}

.comm-feats li{
  font-size: 16px;
  margin-top: 10px; 
}

.comm-feats li img{
  height: 25px;
}

.top-comm{
  color: #ffffff;
  background: #1377f8;
  padding: 5px;
  font-weight: 500;
}