/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/08/2020 07:24
  	*/

      @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.eot");
        src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
             url("./Flaticon.woff2") format("woff2"),
             url("./Flaticon.woff") format("woff"),
             url("./Flaticon.ttf") format("truetype"),
             url("./Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("./Flaticon.svg#Flaticon") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
              font-size: 20px;
      font-style: normal;
      margin-left: 20px;
      }
      
      .flaticon-concrete:before { content: "\f100"; }
      .flaticon-worker:before { content: "\f101"; }
      .flaticon-measure:before { content: "\f102"; }
      .flaticon-building:before { content: "\f103"; }
      .flaticon-brush:before { content: "\f104"; }
      .flaticon-crane:before { content: "\f105"; }
      .flaticon-call:before { content: "\f106"; }
      .flaticon-calendar:before { content: "\f107"; }
      .flaticon-send-mail:before { content: "\f108"; }
      .flaticon-address:before { content: "\f109"; }